// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .borderone {
 	border: 1px solid black;
 }

 .floatright {
 	float: right;
margin-right: 300px;
text-align: center;
 }

 .boxOne {
 float: left;
 	margin-left: 20px;
 	width: 200px;

 text-align: center;
 }

 #inbox {
 		float: right;
margin-right: 100px;
text-align: center;
 width:  230px;
 }